html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  padding: 0;
  border: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

html,
body {
  height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
}

@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  color: #666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 11;
  -webkit-transition: background-color 0.2s ease, left 0.2s ease;
  -o-transition: background-color 0.2s ease, left 0.2s ease;
  transition: background-color 0.2s ease, left 0.2s ease;
}

body.no-scrol {
  overflow: hidden;
}

body.no-scrol::before {
  left: 330px;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  color: #000;
  font-family: "CalSans", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  text-align: center;
}

.title span {
  color: #ff6428;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.burger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #121212;
  left: 2px;
  right: 2px;
  top: 5px;
  -webkit-transition: top 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, top 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, top 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.burger::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #121212;
  left: 2px;
  right: 2px;
  bottom: 5px;
  -webkit-transition: bottom 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: bottom 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, bottom 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, bottom 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, bottom 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.burger--active .burger__line {
  height: 0;
}

.burger--active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 14px;
}

.burger--active::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 14px;
}

.burger__line {
  position: absolute;
  top: 50%;
  left: 2px;
  right: 2px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 2px;
  background-color: #121212;
  -webkit-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}

.header {
  position: fixed;
  padding: 10px 0;
  top: 52px;
  width: 100%;
  z-index: 20;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.header--fixed {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
  top: 0;
}

.header--out {
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logos {
  margin-right: 131px;
  -webkit-transition: -webkit-filter 0.2s ease-in-out;
  transition: -webkit-filter 0.2s ease-in-out;
  -o-transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}

.header__logos:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__logos:focus {
  outline: 2px solid #121212;
  border-radius: 5px;
}

.header__logos:active {
  outline: transparent;
  opacity: 0.75;
}

.header__logo {
  display: inline-block;
}

.header__logo:focus {
  outline: 2px solid #121212;
  border-radius: 5px;
}

.header__logo-mobile {
  display: none;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__logo-mobile:focus {
  outline: 2px solid #121212;
  border-radius: 50%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  font-weight: 500;
  color: rgba(18, 18, 18, 0.4);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 5px;
  border-radius: 5px;
}

.header__link:hover {
  color: #121212;
}

.header__link:focus {
  outline: 2px solid #121212;
  border-radius: 5px;
}

.header__link:active {
  outline: transparent;
  opacity: 0.75;
}

.hero {
  padding: 225px 0 210px;
}

.hero .container {
  position: relative;
}

.hero__content {
  max-width: 470px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 10px 10px 0;
  border-radius: 20px;
}

.hero__title {
  font-family: "CalSans";
  font-weight: 600;
  font-size: 56px;
  line-height: 1.2;
  color: #121212;
  margin-bottom: 16px;
}

.hero__title span {
  color: #ff6428;
}

.hero__text {
  font-weight: 500;
  margin-bottom: 33px;
  max-width: 400px;
}

.hero__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__button {
  display: inline-block;
  font-weight: 600;
  background-color: #ff6428;
  color: #fff;
  margin-right: 40px;
  padding: 18px 48px;
  border-radius: 40px;
  outline: 2px solid transparent;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, outline 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, outline 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.hero__button:hover {
  color: #ff6428;
  background-color: #fff;
  outline: 2px solid #ff6428;
}

.hero__button:focus {
  outline: 2px solid #121212;
  border-radius: 40px;
}

.hero__button:active {
  outline: transparent;
  opacity: 0.75;
}

.hero__icon:not(:last-child) {
  margin-right: 27px;
}

.hero__image {
  position: absolute;
  right: -120px;
  top: -235px;
  z-index: -1;
}

.no-webp .hero__image::after {
  background-image: url("../img/hero-dec.png"); }

.hero__image::after {
  content: "";
  position: absolute;
  bottom: -40px;
  right: 240px;
  width: 80px;
  height: 80px;
  background-size: cover;
}

.store {
  margin-bottom: 180px;
}

.store .title {
  margin-bottom: 86px;
}

.store__content {
  position: relative;
}

.store__content:not(:last-child) {
  margin-bottom: 96px;
}

.store__title {
  font-weight: 600;
  font-size: 20px;
  color: #121212;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.store__link {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.store__link:hover {
  color: #ff6428;
}

.store__link:focus {
  outline: 2px solid #121212;
  border-radius: 40px;
}

.store__link:active {
  outline: transparent;
  opacity: 0.75;
}

.store__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-card__name {
  font-weight: 500;
  color: #121212;
  margin-bottom: 7px;
}

.product-card__price {
  display: inline-block;
  font-size: 14px;
}

.categories {
  margin-bottom: 220px;
}

.categories .title {
  margin-bottom: 80px;
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-gap: 25px;
  margin: 0 56px;
}

.categories__link {
  display: inline-block;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.categories__link::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0.16)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 20px;
}

.categories__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.categories__link:hover .categories__name {
  color: #ff6428;
}

.categories__name {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.brands {
  margin-bottom: 180px;
}

.brands .title {
  margin-bottom: 75px;
}

.brands__list {
  margin: 0 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (-webkit-max-content)[4];
  -ms-grid-columns: (max-content)[4];
  grid-template-columns: repeat(4, -webkit-max-content);
  grid-template-columns: repeat(4, max-content);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 100px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.brands__item {
  margin: 0 auto;
}

.brands__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  min-width: 150px;
  min-height: 70px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.brands__link:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.brands__link:focus {
  outline: 2px solid #121212;
}

.brands__link:active {
  outline: transparent;
  opacity: 0.75;
}

.why {
  background-color: #121212;
  padding: 94px 0;
  margin-bottom: 240px;
}

.why .title {
  margin-bottom: 75px;
  color: #fff;
}

.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 35px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 50px;
}

.why__item {
  text-align: center;
  padding-top: 112px;
  max-width: 230px;
  background-repeat: no-repeat;
  background-position: center top;
}

.why__title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 12px;
}

.why__text {
  font-size: 14px;
}

.customers {
  margin-bottom: 240px;
}

.customers .title {
  margin-bottom: 109px;
}

.customers__swiper {
  overflow: hidden;
  position: relative;
  margin: 0 25px;
}

.customers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.customers__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__slide--active .customers__photo::before {
  -webkit-transform: scale(1) rotate(-7.72deg);
      -ms-transform: scale(1) rotate(-7.72deg);
          transform: scale(1) rotate(-7.72deg);
}

.customers__photo {
  margin: 0 auto;
  padding-left: 15%;
  display: inline-block;
  position: relative;
  -webkit-transform: translateX(-15%);
      -ms-transform: translateX(-15%);
          transform: translateX(-15%);
}

.customers__photo::before {
  content: "";
  position: absolute;
  left: 80px;
  bottom: 27px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background: #ff6428;
  border-radius: 40px 0px 400px 400px;
  width: 284px;
  height: 257px;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.customers__figure {
  max-width: 45%;
}

.customers__text {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 56px;
}

.customers__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
  color: #000;
  margin-bottom: 8px;
}

.customers__characteristic {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.08em;
}

.customers__pagination {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 24px;
  right: 14px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  height: 24px;
}

.customers__pagination-bullet {
  width: 10px;
  height: 16px;
  background-color: #666;
  border-radius: 20px;
  -webkit-transition: height 0.2s ease-in-out, width 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.customers__pagination-bullet--active {
  background-color: #ff6428;
  width: 24px;
  height: 12px;
  margin: 0 4px;
}

.browser {
  margin-bottom: 120px;
}

.browser__wrapper {
  position: relative;
  padding: 116px 14px 99px;
}

.browser__content {
  padding-left: 10px;
  border-radius: 10px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  background-color: rgba(255, 255, 255, 0.7);
}

.browser .title {
  text-align: left;
  max-width: 484px;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.4;
}

.browser__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.browser__link {
  display: inline-block;
  border-radius: 7px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.browser__link:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.browser__link:focus {
  outline: 2px solid #ff6428;
}

.browser__link:active {
  outline: transparent;
  opacity: 0.75;
}

.browser__bg {
  position: absolute;
  z-index: -1;
  right: 15px;
  top: 0;
}

.footer {
  background-color: #eeeeee;
  padding: 80px 0 43px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 14px 80px 40px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
}

.footer__contacts {
  margin-right: auto;
}

.footer__logo {
  margin-bottom: 28px;
  display: inline-block;
  -webkit-transition: -webkit-filter 0.2s ease-in-out;
  transition: -webkit-filter 0.2s ease-in-out;
  -o-transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}

.footer__logo:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer__logo:focus {
  outline: 2px solid #121212;
  border-radius: 5px;
}

.footer__logo:active {
  outline: transparent;
  opacity: 0.75;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__contacts-link {
  line-height: 1.6;
  padding-left: 44px;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-transition: -webkit-filter 0.2s ease-in-out;
  transition: -webkit-filter 0.2s ease-in-out;
  -o-transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}

.footer__contacts-link--mail {
  background-image: url("../img/icons/icons.svg#sms");
}

.footer__contacts-link--location {
  background-image: url("../img/icons/icons.svg#location");
}

.footer__contacts-link:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.footer__contacts-link:focus {
  outline: 2px solid #121212;
  border-radius: 5px;
}

.footer__contacts-link:active {
  outline: transparent;
  opacity: 0.75;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 126px;
     -moz-column-gap: 126px;
          column-gap: 126px;
  margin-right: 8%;
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #121212;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__col-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer__col-link {
  color: rgba(18, 18, 18, 0.6);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer__col-link:hover {
  color: #121212;
}

.footer__col-link:focus {
  outline: 2px solid #121212;
  border-radius: 5px;
}

.footer__col-link:active {
  outline: transparent;
  opacity: 0.75;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.footer__social-link {
  width: 33px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #121212;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 20px 20px;
  mask-size: 20px 20px;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
}

.footer__social-link:hover {
  background-color: #ff6428;
}

.footer__social-link:focus {
  outline: 2px solid #121212;
  border-radius: 5px;
}

.footer__social-link:active {
  outline: transparent;
  opacity: 0.75;
}

.footer__copy {
  text-align: center;
}

@media (max-width: 900px) {
  .title {
    font-size: 34px;
  }

  .header {
    top: 42px;
  }

  .header--fixed {
    top: 0;
  }

  .hero {
    padding: 125px 0 110px;
  }

  .hero__content {
    max-width: 380px;
  }

  .hero__title {
    font-size: 45px;
  }

  .hero__bg {
    width: 572px;
    height: 540px;
  }

  .store {
    margin-bottom: 100px;
  }

  .store .title {
    margin-bottom: 50px;
  }

  .store__content:not(:last-child) {
    margin-bottom: 50px;
  }

  .categories {
    margin-bottom: 110px;
  }

  .categories .title {
    margin-bottom: 50px;
  }

  .brands {
    margin-bottom: 80px;
  }

  .brands .title {
    margin-bottom: 50px;
  }

  .brands__list {
    -ms-grid-columns: (-webkit-max-content)[2];
    -ms-grid-columns: (max-content)[2];
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 50px;
  }

  .brands__list {
    row-gap: 30px;
  }

  .why {
    margin-bottom: 120px;
    padding: 74px 0;
  }

  .why .title {
    margin-bottom: 50px;
  }

  .why__item {
    padding-top: 90px;
  }

  .customers {
    margin-bottom: 120px;
  }

  .customers .title {
    margin-bottom: 50px;
  }

  .customers__swiper {
    margin: 0;
  }

  .customers__slide {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 40px;
  }

  .customers__slide {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }

  .customers__photo::before {
    width: 234px;
    height: 207px;
  }

  .customers__img {
    width: 276px;
    height: 291px;
  }

  .customers__text {
    font-size: 20px;
  }

  .browser {
    margin-bottom: 60px;
  }

  .browser__wrapper {
    padding: 80px 14px 70px;
  }

  .browser__content {
    max-width: 445px;
  }

  .browser .title {
    font-size: 35px;
    margin-bottom: 40px;
  }

  .browser__bg {
    width: 468px;
    height: 433px;
  }

  .footer {
    padding: 55px 0 30px;
  }

  .footer__wrapper {
    margin: 0 0 55px;
  }

  .footer__contacts {
    margin-right: 0;
  }

  .footer__nav {
    margin-right: 0;
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 24px;
  }

  .header {
    top: 5px;
  }

  .header--fixed {
    top: 0;
  }

  .header__logos {
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__logo {
    display: none;
  }

  .header__logo-mobile {
    display: inline-block;
  }

  .header__menu {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .header__link {
    color: #121212;
  }

  .hero {
    padding: 75px 0 70px;
  }

  .hero__content {
    padding: 10px;
  }

  .hero__title {
    font-size: 25px;
    max-width: 260px;
  }

  .hero__text {
    margin-bottom: 10px;
  }

  .hero__button {
    padding: 10px 18px;
  }

  .hero__icon {
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
  }

  .hero__image::after {
    right: 150px;
    width: 60px;
    height: 60px;
  }

  .hero__bg {
    width: 440px;
    height: 440px;
  }

  .store {
    margin-bottom: 40px;
  }

  .store .title {
    margin-bottom: 20px;
  }

  .store__content:not(:last-child) {
    margin-bottom: 20px;
  }

  .store__title {
    margin-bottom: 15px;
  }

  .categories {
    margin-bottom: 40px;
  }

  .categories .title {
    margin-bottom: 20px;
  }

  .brands {
    margin-bottom: 40px;
  }

  .brands .title {
    margin-bottom: 20px;
  }

  .why {
    margin-bottom: 40px;
    padding: 30px 0;
  }

  .why .title {
    margin-bottom: 20px;
  }

  .why__list {
    margin: 0 auto;
    row-gap: 25px;
  }

  .why__item {
    padding-top: 90px;
  }

  .customers {
    margin-bottom: 40px;
  }

  .customers .title {
    margin-bottom: 20px;
  }

  .customers__slide--active .customers__photo::before {
    left: 50px;
  }

  .customers__photo::before {
    display: none;
  }

  .customers__img {
    width: 176px;
    height: 191px;
  }

  .customers__figure {
    max-width: 100%;
  }

  .customers__text {
    margin-bottom: 20px;
  }

  .customers__name {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .customers__characteristic {
    font-size: 16px;
    letter-spacing: 0.04em;
  }

  .browser {
    margin-bottom: 40px;
  }

  .browser__wrapper {
    padding: 40px 0px 30px;
  }

  .browser__content {
    max-width: 320px;
  }

  .browser .title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .browser__img {
    width: 120px;
    height: 40px;
  }

  .browser__bg {
    width: 280px;
    height: 270px;
    right: 0;
  }

  .footer {
    padding: 30px 0 15px;
  }

  .footer__wrapper {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 20px;
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__img {
    width: 150px;
    height: 36px;
  }
}

.webp .hero__image::after { background-image: url(../img/hero-dec.webp); }