.store {
  margin-bottom: 180px;

  @media (max-width: 900px) {
    margin-bottom: 100px;
  }

  @media (max-width: 600px) {
    margin-bottom: 40px;
  }

  .title {
    margin-bottom: 86px;

    @media (max-width: 900px) {
      margin-bottom: 50px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }

  &__content {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 96px;

      @media (max-width: 900px) {
        margin-bottom: 50px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    color: $menu;
    text-transform: uppercase;
    margin-bottom: 32px;

    @media (max-width: 600px) {
      margin-bottom: 15px;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $titleSpan;
    }

    &:focus {
      outline: 2px solid $menu;
      border-radius: 40px;
    }

    &:active {
      outline: transparent;
      opacity: 0.75;
    }
  }

  &__list {
    display: flex;
    column-gap: 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.product-card {
  &__name {
    font-weight: 500;
    color: $menu;
    margin-bottom: 7px;
  }

  &__price {
    display: inline-block;
    font-size: 14px;
  }
}
